{% extends 'app/base.html' %}
{% load static %}


{% block side %}
<div class="col-2"><div class="card mt-5" style="width: 200px;">
    <img class="card-img-top" style="height: 200px; width:200px ;" src="{% static 'app/image/profile.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-text text-success text-center display-5"><strong>Sudhir Kumar</strong>
        </h4>
        
    </div>
  </div></div>

  <div class="col-10"><div class="col-lg-10 my-5">
    <!-- <h3 class="text-white" style="font-style:italic ; text-decoration: underline;">About Bloggies.......</h3> -->
    <div class="jumbotron pt-2" style="background-color:rgb(6, 46, 70)">
      <div class="container">
        <h1 class=" display-5 text-warning font-weight-bold font-italic">About Bloggies...</h1>
        <p style="text-align:justify; color:whitesmoke">I am very glad that you are here. This is Blogging website developed & managed by <strong>Sudhir Kumar.</strong>
        Bloggies invites you to register and become member of Bloggies Family. Here, you can share  post of your expertise to help the visitors.</p>
        <div style="text-align:right; color: rgb(237, 231, 235);font-style: italic;"><h4>Sudhir Kumar</h4></div> 
      </div>
      <i class="fa-solid fa-house-blank"></i>
    </div>

    
   
      
</div>
</div>

{% endblock %}

