{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-10">
    <div class="jumbotron">
        <div class="container">
            <h3 class="text-light btn-dark mt-auto">Dashboard / Add Post</h3>

            <form action="" method="post" class="text-light">
                {% csrf_token %}
                
                {{form.as_p}}
                <input type="submit" value="Add Post" class="btn btn-success">  
                <a href="{% url 'dashboard' %}" class="btn btn-warning">Cancel</a>
            </form>
        </div>
        </div>
      </div>
    

{% endblock %}