{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10 my-5">
    <h2 class="bg-danger text-light">Detail Post Information</h2>
     
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          
          <h1 class="display-4 mb-3"><span class="bg-dark text-warning">{{post.title}} <h5 class="text-dark">Created on {{post.create}} By {{post.author}}</h5 ></span></h1>
          <p class="lead">{{post.desc}}</p>
          <a href="{% url 'sharepost' post.id %}" class="btn btn-success btn-md">Share Post</a><br><br>
          <div style="background-color:rgb(34, 32, 32)">
            <h3 class="display-4 text-light"> <i class="fas fa-comments"></i> Comments...</h3>
              {% if comment%}
            <h3 class="text-warning">Total Comment :{{ comment.count}}</h3> 
            <hr class="bg-light">
            {% for comment in comment %}
          <span><strong> <h4 class="text-warning">Commented By {{comment.name|capfirst}} <small> on {{comment.created_on}}</small></h4></strong></span>
             <p style="color:rgb(207, 205, 212);"><i class="fas fa-hand-point-right"></i> {{comment.body}}</p>
             {% endfor %}
             {% else %}
              <h3 class="text-danger">No Comments Available</h3>
              {% endif %}
             <hr class="bg-info">
  
           </div>
          <h3 class="display-5 text-dark">Please Comment Below:</h3>

          <div>
            <form method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-warning">Comment</button>
            </form>
          </div>

          
        
         <br>

          
         
        </div>
      </div>
      
</div>



{% endblock %}