body{
    background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=600);
     background-repeat: no-repeat;
    /* background-color: coral; */
    background-size:100% 100%;
    background-attachment: fixed;

    /* background-color: bisque; */
    
    
}


h3 {
    color: blue;
    font-size: xx-large;
    font-style: italic;
       font-weight: bold;
}

/* .card-text{
    background-color: azure;
} */

p {
    color:rgb(11, 84, 11);
}

.card{
    height: auto;
}

.navbtn{
    color:white;
    
    background-color:darkorange;
    
    
}